# TAREA

In [4]:
import pandas as pd

## 1

In [8]:
url = "https://es.wikipedia.org/wiki/Guitarra"
df4 = pd.read_html(url)
print(type(df4))
print("Numero de tablas en DF" ,len(df4))
df4[2]

<class 'list'>
Numero de tablas en DF 4

,Cuerda,1.er traste,2.° traste,3.er traste,4.° traste,5.° traste,6.° traste,7.° traste,8.° traste,9.° traste,10.° traste,11.° traste,12.° traste
0,I - Mi,Fa,Fa#,Sol,Sol#,La,La#,Si,Do,Do#,Re,Re#,Mi
1,II - Si,Do,Do#,Re,Re#,Mi,Fa,Fa#,Sol,Sol#,La,La#,Si
2,III - Sol,Sol#,La,La#,Si,Do,Do#,Re,Re#,Mi,Fa,Fa#,Sol
3,IV - Re,Re#,Mi,Fa,Fa#,Sol,Sol#,La,La#,Si,Do,Do#,Re
4,V - La,La#,Si,Do,Do#,Re,Re#,Mi,Fa,Fa#,Sol,Sol#,La
5,VI - Mi,Fa,Fa#,Sol,Sol#,La,La#,Si,Do,Do#,Re,Re#,Mi

In [9]:
url = "https://es.wikipedia.org/wiki/Guns_N%27_Roses"
df5 = pd.read_html(url)
print(type(df5))
print("Numero de tablas en DF" ,len(df5))
df5[1]

<class 'list'>
Numero de tablas en DF 6

,Fecha de lanzamiento,Álbum,Ventas en el mundo[110]​
0,21 de julio de 1987,Appetite for Destruction,28 millones[110]​
1,29 de noviembre de 1988,G N' R Lies,8 millones[110]​
2,17 de septiembre de 1991,Use Your Illusion I,17 millones[110]​
3,17 de septiembre de 1991,Use Your Illusion II,18 millones[110]​
4,23 de noviembre de 1993,The Spaghetti Incident?,4 millones[110]​
5,23 de marzo de 2004,Greatest Hits (Recopilación),15 millones[110]​
6,23 de noviembre de 2008,Chinese Democracy,"[110]​2,5 millones"

## 2

In [5]:
from sqlalchemy import create_engine

us = 'fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegio02'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)
str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password'

In [6]:
conn = create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password)

In [7]:
sql = '''SELECT * FROM alumnos'''
df_mysql = pd.read_sql_query(sql=sql,con=conn)
print(type(df_mysql))
df_mysql.loc[:,['ap_paterno','ap_materno','nombre','telefono','email']]

<class 'pandas.core.frame.DataFrame'>

,ap_paterno,ap_materno,nombre,telefono,email
0,BORBOLLA,RAMOS,ARGELIA,4455497989,argi_gogos@miemail.com
1,CASTRO,MANCERA,KARLA MARIANA,,
2,FERRUSCA,ANDRADE,OCTAVIO,4458114845,tavoferrus_11@miemail.com
3,GARCIA,GOMEZ,RAFAEL,4451986967,arobertogarcia@telmart.net.mx
4,GUTIERREZ,FLORES,CARLOS DAVID,4455558865,chorok_skp91@miemail.com
...,...,...,...,...,...
803,MEDINA,GUTIERREZ,OSCAR,,
804,MEJIA,JIMENEZ,LUISA,,
805,MEJIA,JIMENEZ,LUISA,,
806,MEJIA,JIMENEZ,LUISA,,
807,MEJIA,JIMENEZ,LUISA,,